/* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */

.App{
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  min-height: 100vh;
}

.search-form{
  min-height: 10vh;
  /* background: rgb(136, 136, 136); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box{
  width: 50%;
  padding: 10px;
  border: none;
  outline: none;
}
.search-btn{
  background: coral;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  /* background: rgb(168, 44, 44); */
  /* align-items: center; */
}
.recipe-index{
  background: #fff;
  background: rgb(70, 18, 18);
  box-shadow: 0px 5px 20px #cf556c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 400px; */
  margin: 20px 10px;
  border-radius: 10px;
  min-width: 40%;
}
.recipe-index img{
  width: 200px;
  /* height: 200px; */
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #fff;
}
